{% extends 'layouts/base.html.twig' %}
{% block title %}Блог Компании - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="article">
        <div class="content gridblock">
            <div  class="sidebar">
                <div class="grid_one_block">
                    <div class="onegrid">
                        <img src="../assets/img/for_worker.jpg" class="lazyLoad isLoaded img_onegrid"><a data-v-3e621fbe="" href="/blog/dlya-rabotnika" class="">Для работника</a>
                    </div>
                    <div  class="onegrid"><img src="../assets/img/interesting.jpeg" class="lazyLoad isLoaded img_onegrid"> <a href="/blog/interesnoe" class="">Интересное</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="new_blockarticle">
                    <h1 >{{ article.name }}</h1>
                    <img src="{{ asset('uploads/' ~ article.image) }}" class="lazyLoad isLoaded img_new_article" alt="" />
                    <article>
                        {{ article.bodytext|raw }}
                    </article>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}
{% endblock %}