{% extends 'layouts/base.html.twig' %}
{% block title %}Блог Компании - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    {# <div id="blog-detail"></div>#}

    <div class="article">
        <div class="content gridblock">
            {% include 'partials/blog/_category.html.twig' %}
            <div>
                <div class="new_blockarticle">
                    <h1 >{{ article.name }}</h1>
                    <img src="{{ asset('uploads/' ~ article.image) }}" class="lazyLoad isLoaded img_new_article" alt="" />
                    <article>
                        {{ article.bodytext|raw }}
                    </article>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}