{% extends 'layouts/base.html.twig' %}
{% block title %}Блог Компании - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}

    <div class="article">
        <div class="content gridblock">
            {% include 'partials/blog/_category.html.twig' %}
            <div>
                <div class="">
                    {% for article in articles %}
                        <div class="grid_two_block">
                            <div class="title_blog">
                                <h3>{{ article.name }}</h3>
                                {{ article.teaser }}
                                <a href="{{ path('app_blog_detail', { slug: article.slug}) }}" class="btn_article">Подробнее</a>
                            </div>
                            <div class="images">
                                <img src="{{ asset('uploads/' ~ article.image) }}" class="lazyLoad isLoaded img_article" alt="" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}