{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

<!--    <div id="app"><app /></div>-->

    <a class="nav-link" href="{{ path('app_articles') }}">{{ 'Articles'|trans }}</a>

{% endblock %}
