{% extends 'layouts/main.html.twig' %}
{% block title %}Hello PagesController!{% endblock %}
{% block content %}
    {% include 'partials/header.html.twig' %}
    <div>
        <div class="indexa">
            <div class="main content">
                <h2>Найдите надежного работника<br> или работу самостоятельно<br> <b>без посредников</b></h2>
                <div class="btn_try" @click="$store.dispatch('okna/getOkno',{type:'registration',action:true})" style="cursor:pointer">
                    <a>Попробовать</a>
                </div>
                <div class="main_background">
                </div>
            </div>
        </div>
        {% include 'partials/pages/main/why.html.twig' %}
    </div>
    {% include 'partials/pages/main/_block3.html.twig' %}
    {% include 'partials/pages/main/_block4.html.twig' %}
    {% include 'partials/pages/main/_block5.html.twig' %}
    {% include 'partials/pages/main/_block6.html.twig' %}
    {% include 'partials/footer.html.twig' %}

    {#<div class="one content">
        <div class="mobfile">
          <p>Найдите надежного работника<br> или работу самостоятельно</p>
        </div>
        <div class="griding top">
          <div class="set" v-for="onecat of category" :key="onecat._id" v-if="onecat.home" >
          <categoryDplitka :data="onecat" class="mobilesVIEW"/>
          </div>

        </div>
      </div>#}
{% endblock %}


