<div class="abouts_creating_form">
    <p>Проживание:</p>
    <div class="need_creating_form">
        {% for accommodation in accommodations %}
            <label for="accommodation{{ accommodation.id }}" class="accommodation_chk">
                <input type="checkbox" id="accommodation{{ accommodation.id }}" name="job_form[accommodation]" value="{{ accommodation.id }}" onclick="onlyOneAccommodation(this)">
                <span>{{ accommodation.name }}</span>
            </label>
        {% endfor %}
    </div>
</div>