<div class="panel_filter">
    <div class="table_creating_form">
        <div class="once">
            <div class="week_creating_form">
                <h5>Пн</h5>
                <div class="time_creating_form">
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="12:00" name="monday_start_time">
                    </div>
                    <p>-</p>
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="16:00" name="monday_end_time">
                    </div>
                </div>
                <div class="weekday_box">
                    <label for="monday" class="weekday">
                        <input type="checkbox" name="week[]" id="monday"  class="check-box" value="1"><span class="checkmark_day"></span>
                    </label>
                </div>
            </div>
            <div class="week_creating_form">
                <h5>Вт</h5>
                <div class="time_creating_form">
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="12:00" name="tuesday_start_time">
                    </div>
                    <p>-</p>
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="16:00" name="tuesday_end_time">
                    </div>
                </div>
                <div class="weekday_box">
                    <label for="tuesday" class="weekday">
                        <input type="checkbox" name="week[]"  class="check-box" id="tuesday" value="2"><span class="checkmark_day"></span>
                    </label>
                </div>
            </div>
            <div class="week_creating_form">
                <h5>Ср</h5>
                <div class="time_creating_form">
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="12:00" name="Wednesday_start_time">
                    </div>
                    <p>-</p>
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="16:00" name="wednesday_end_time">
                    </div>
                </div>
                <div class="weekday_box">
                    <label for="wendsday" class="weekday">
                        <input type="checkbox" name="week[]" id="wendsday"  class="check-box" value="3"><span class="checkmark_day"></span>
                    </label>
                </div>
            </div>


            <div class="week_creating_form">
                <h5>Чт</h5>
                <div class="time_creating_form">
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="12:00" name="thursday_start_time">
                    </div>
                    <p>-</p>
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="16:00" name="thursday_end_time">
                    </div>
                </div>
                <div class="weekday_box">
                    <label for="thursday" class="weekday">
                        <input type="checkbox" name="week[]"  id="thursday"  class="check-box" value="4"><span class="checkmark_day"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="once">
            <div class="week_creating_form">
                <h5>Пт</h5>
                <div class="time_creating_form">
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="12:00" name="friday_start_time">
                    </div>
                    <p>-</p>
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="16:00" name="friday_end_time">
                    </div>
                </div>
                <div class="weekday_box">
                    <label for="friday" class="weekday">
                        <input type="checkbox" name="week[]" id="friday"  class="check-box" value="5"><span class="checkmark_day"></span>
                    </label>
                </div>
            </div>

            <div class="week_creating_form">
                <h5 class="light_creating_form">Сб</h5>
                <div class="time_creating_form">
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="" name="saturday_start_time">
                    </div>
                    <p>-</p>
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="" name="saturday_end_time">
                    </div>
                </div>
                <div class="weekday_box">
                    <label for="saturday" class="weekday">
                        <input type="checkbox" name="week[]" id="saturday"  class="check-box" value="6"><span class="checkmark_day"></span>
                    </label>
                </div>
            </div>
            <div class="week_creating_form">
                <h5 class="light_creating_form">Вс</h5>
                <div class="time_creating_form">
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="" name="sunday_start_time">
                    </div>
                    <p>-</p>
                    <div class="mins_creating_form">
                        <input value="" class="mins_creating_form" placeholder="" name="sunday_end_time">
                    </div>
                </div>
                <div class="weekday_box">
                    <label for="sunday" class="weekday">
                        <input type="checkbox" name="week[]" id="sunday"  class="check-box" value="7"><span class="checkmark_day"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="abouts_creating_form top2">
        <p>Дополнительная информация:</p>
        <button class="choose_creating_form mobs accordion_filter_one_vacan">
            <span>Выберите из списка</span>
            <img src="assets/img/str.svg" src="/preload.gif" class="lazyLoad">
        </button>
        <div class="panel_filter">
            <div class="need_creating_form">
                {% for additional in additionals %}
                    <label for="additionally{{ additional.id }}" class="tasks">
                        <input type="checkbox" id="additionally{{ additional.id }}" name="job_form[additionally][]" value="{{ additional.id }}">
                        <span>{{ additional.name }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>
        <div class="did mobs">
            <img src="assets/img/gala.svg">
            <a href="">Выполнено</a>
        </div>
    </div>
</div>