<div class="flex-parent">
    <div class="flex-child">
        <div class="date_creating_form">
            <div class="abouts_creating_form">
                <p class="required">Возраст подопечного, с которым готов работать:</p>
                <div class="work_experience_creating_form">
                    {{ form_row(form.clientAge) }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex-child">

    </div>
</div>