<div class="flex-parent">
    <!-- Left col -->
    <div class="flex-child">
        <div class="abouts_creating_form">
            <div class="dom_creating_form">
                <p class="required">Город</p>
                {#   <input type="text" id="worksheet_form" name="worksheet_form[city]" required="required" placeholder="Ваш город" class="form-control">#}
                {{ form_widget(form.city) }}
            </div>
        </div>
    </div>
    <!-- Right col -->
    <div class="flex-child">
        <div class="abouts_creating_form">
            <div class="dom_creating_form">
                <p class="required">Район</p>
                <input type="text" id="worksheet_form" name="worksheet_form[district]" required="required" placeholder="Район" class="form-control">
            </div>
        </div>
    </div>
</div>