<div class="flex-parent">
    <!-- Left col -->
    <div class="flex-child">
        <div class="abouts_creating_form">
            <div class="dom_creating_form input-select-multiple">
               <p class="required">Город:</p>
                {{ form_widget(form.city) }}
            </div>
        </div>
    </div>

    <!-- Right col -->
    <div class="flex-child">
        <div class="abouts_creating_form">
            <div class="dom_creating_form">
                <p class="_required">Район</p>
                <input type="text" id="_worksheet_form" name="worksheet_form[district]" placeholder="Район" class="form-control">
            </div>
        </div>
    </div>
</div>

