<div class="flex-parent">
    <div class="flex-child">
        <div class="_but_creating_form">
            <label> <p class="required">Фотография:</p>
                {{ form_row(form.image) }}
            </label>
        </div><br />
    </div>
    <div class="flex-child"></div>
</div>