<div class="flex-parent">
    <div class="flex-child">
        <div class="abouts_creating_form grid_creating_form">
            <div class="dom_creating_form">
                <p class="required">ФИО контактного лица</p>
                {{ form_row(form.name) }}
            </div>
        </div>
    </div>
    <div class="flex-child">
        <div class="abouts_creating_form grid_creating_form">
            <div class="dom_creating_form">
                <p class="required">Возраст</p>
                {{ form_row(form.age) }}
            </div>
        </div>
    </div>
</div>