{% extends 'layouts/base.html.twig' %}
{% block title %}Курсы Компании - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div id="course-list"></div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}