{% extends 'layouts/map.html.twig' %}
{% block title %}Все вакансии - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
{#    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>#}
    {% include 'partials/header.html.twig' %}
    <div class="">
        <div class="content">
            <div class="bread">
                <a href="/" class="nuxt-link-active main_vavancies" >Главная</a>
                <a href="" class="nuxt-link-active" >Вакансии</a>
            </div>
            <div class="choose">
                <p><a href="{{ path('app_all_jobs') }}" class="title-link">Все вакансии:</a></p>
                {% include 'partials/pages/_categories.html.twig' with {'jobs': 1} %}
            </div>
            <div class="mains">
                <div class="fon">
                    <button class="accordion_filter"><span>Фильтр анкет</span></button>
                    <div class="panel_filter">
                        {% include 'partials/pages/_main_filter.html.twig' %}

{#                        <div class="knopka mob_emp mobs">#}
{#                            <a href="#" aria-current="page" class="nuxt-link-exact-active nuxt-link-active" >Применить</a>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="big" >
                    <div class="title" >
                        <h2>Все вакансии {% if category is not null %}- {{ category }} {% endif %}</h2>
                    </div>

                    {% if jobs|length > 0 %}
                        <div id="map" style="height: 300px;"></div>
                        {% include 'partials/pages/script/_map_script.html.twig' %}
                        <div class="open_map" onClick="changeHeight();" id="open-map">Раскрыть карту</div>
                    {% endif %}

                    <div class="large fon">
                        <div class="in" >
                            {% if jobs|length > 0 %}
                                {% for job in jobs %}
                                    {% include 'partials/pages/job/_list_job_item.html.twig' %}
                                {% endfor %}
                            {% else %}
                                <p>По вашему запросу вакансий не найдено</p>
                            {% endif %}
                            <div class="pagination">
                                {{ knp_pagination_render(jobs) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}

{% endblock %}
