{% extends 'layouts/base.html.twig' %}
{% block title %}Создать вакансию - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">

    {% include 'partials/header.html.twig' %}

    <div class=" content">
        <div class="bread_personal_account">
            <a href="{{ path('app_main') }}" class="nuxt-link-active">Главная</a>
            <a href="{{ path('app_lk') }}">/ Личный кабинет</a>
            <a>/ Создать анкету</a>
        </div>

        <div class="large_creating_form fon">
            <div class="in_creating_form">
                {% include 'partials/_message.html.twig' %}
                <h1>Выберите вакансию которую вы хотите создать</h1>
                <ul>
                    {% for category in categories %}
                        <li><a href="{{ path('app_create_job', { slug: category.slug}) }}" class="">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    {% include 'partials/footer.html.twig' %}
{% endblock %}

