<div class="choose">
    <p><a href="{{ path('app_all_jobs') }}" class="title-link">Все вакансии:</a></p>
    <div class="for mob_group_btn">
        {% for category in categories %}
            <div class="click_master">
                <a href="{{ path('app_all_jobs', { category: category.slug}) }}" class="">{{ category.name }}</a>
            </div>
        {% endfor %}
    </div>
</div>