
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public_html/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.env.test
.php-cs-fixer.cache
bin/phpunit
composer.phar
docker-compose.override.yml
docker-compose.yml
migrations/
php-cs-fixer
phpunit.xml.dist
public_html/
yarn.lock
