{% extends 'layouts/map.html.twig' %}
{% block title %}Анкеты - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="">
        <div class="content">
            <div class="bread">
                <a href="/" class="nuxt-link-active main_vavancies" >Главная</a>
                <a href="" class="nuxt-link-active" >Анкеты</a>
            </div>
            <div class="choose">
                <p><a href="{{ path('app_all_workers') }}" class="title-link">Все анкеты:</a></p>
                {% include 'partials/pages/_categories.html.twig' with {'workers': 1} %}
            </div>
            <div class="mains">
                <div class="fon" id="select__workers">

                    <button class="accordion_filter"><span>Фильтр анкет</span></button>
                    <div class="panel_filter">
                        {% include 'partials/pages/_main_filter.html.twig' %}
                    </div>
                </div>
                <div class="big" >
                    <div class="title" >
                        <h2>Все анкеты {% if category is not null %}- {{ category }} {% endif %}</h2>
                    </div>

                    {% if worksheets|length > 0 %}
                        <div id="map" class="map-open-street"></div>
                        <div class="open_map js-open-map" id="open-map">Раскрыть карту</div>
                        {% include 'partials/pages/script/_map_script_workers.html.twig'%}
                    {% endif %}

                    <div class="large fon">
                        <div class="in vacan__position" >
                            {% include 'partials/_message.html.twig' %}
                            {% if worksheets|length > 0 %}
                                {% for job in worksheets %}
                                    {% include 'partials/pages/worksheet/_list_item.html.twig' %}
                                {% endfor %}
                            {% else %}
                                <p class="workers__position">По вашему запросу анкет не найдено</p>
                            {% endif %}
                               <!-- <div class="not__added">
                                <p class="workers__position">Вы ещё не добавили никого в избранные</p>
                               </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
