{% extends 'layouts/base.html.twig' %}
{% block title %}Анкеты - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    {% include 'partials/header.html.twig' %}
    <div class="">
        <div class="content">
            <div class="bread">
                <a href="/" class="nuxt-link-active main_vavancies" >Главная</a>
                <a href="" class="nuxt-link-active" >Анкеты</a>
            </div>
            {% include 'partials/pages/worksheet/_top_menu.html.twig' %}
            <div class="mains">
                <div class="fon">

                    <button class="accordion_filter"><span>Фильтр анкет</span></button>
                    <div class="panel_filter">
                        {% include 'partials/pages/_side_filter.html.twig' %}

                        <!--  <div class="sort mobs">
                           <p >Сортировать по:</p>
                           <select name="select" >
                             <option value="value1" >Новизне</option>
                             <option value="value2" selected="selected" >Новизне</option>
                              <option value="value3">Новизне</option></select>
                            </div>  -->
                        <div class="knopka mob_emp mobs">
                            <a href="/vacancies/domrabotnica" aria-current="page" class="nuxt-link-exact-active nuxt-link-active" >Применить</a>
                        </div>
                    </div>
                </div>
                <div class="big" >
                    <div class="title" >
                        <h2>Все анкеты {% if category is not null %}- {{ category }} {% endif %}</h2>
                    </div>

                    <div id="map" style="width: 100%; height: 300px;"></div>
                    <div class="open_map" id="changeSize">Изменить размер</div>
                    <div class="large fon">
                        <div class="in" >
                            {% if worksheets is not null %}
                                {% for job in worksheets %}
                                    {% include 'partials/pages/worksheet/_list_item.html.twig' %}
                                {% endfor %}
                            {% else %}
                                <p>По данному запросу анкет не найдено</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}
    {{ include('partials/pages/script/_map_script_workers.html.twig', {jobs: worksheets}) }}
{% endblock %}
