<header>
    <nav class="nav">
        <div class="nav_logo">
            <a href="#">
                <img class="nav_logo-img" src="{{ asset('assets/css/icons/logo.svg') }}" width="185" height="95" alt="logo-icon"/>
            </a>
        </div>
        <div class="nav_box">
            <div class="nav_blog">
                <a href="#">
                    <span class="nav_blog-text">Блог</span>
                    <img class="nav_blog-img" src="{{ asset('assets/css/icons/blog-icon.svg') }}" width="20" height="20" alt="blog-icon"/>
                </a>
            </div>
            <div class="nav_list">
                <a href="#">
                    <span class="nav_list-text">Список курсов</span>
                    <img class="nav_list-img" src="{{ asset('assets/css/icons/list-icon.svg') }}" width="20" height="20" alt="list-icon"/>
                </a>
            </div>
            <button type="button" class="nav_btn-worker">Стать работником</button>
            <button type="button" class="nav_btn-employer active">Стать работодателем</button>
            <button class="nav_btn-menu">
                <img class="nav_btn-menu-img" src="{{ asset('assets/css/icons/menu-icon.svg') }}" width="44" height="44" alt="menu"/>
            </button>
        </div>
    </nav>
</header>