{% extends 'layouts/base.html.twig' %}
{% block title %}История платежей - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    {% include 'partials/header.html.twig' %}
    <div class=" content">
        <div class="bread_personal_account">
            <a href="{{ path('app_main') }}" class="nuxt-link-active">Главная</a>
            <a>/ История платежей</a>
        </div>

        
            <div class="in_creating_form history__btn">
                {% include 'partials/_message.html.twig' %}
                <div class="btn_employer" style="cursor: pointer;">
                   <a href="">Скачать историю</a>
                </div>
        
                    <div class="history__pay fon">
                        <div class="history__pay-box1">
                            <p class="history__header">Номер заказа</p>
                            <p class="history__text">892484213</p>
                        </div>
                        <div class="history__pay-box2">
                            <p class="history__header">Номер телефона</p>
                            <p class="history__text">+7 (111) 111-11-11</p>
                        </div>
                        <div class="history__pay-box3">
                            <p class="history__header">Дата платежа</p>
                            <p class="history__text">01.01.2023</p>
                        </div>
                        <div class="history__pay-box4">
                            <p class="history__header">Сумма платежа</p>
                            <p class="history__text">999 999.00₽</p>
                        </div>
                        <div class="history__pay-box5">
                            <p class="history__header">Метод оплаты</p>
                            <p class="history__text">Оплата картой выпущенной в РФ</p>
                        </div>
                    </div>
                      <div class="history__pay fon">
                        <div class="history__pay-box1">
                            <p class="history__header">Номер заказа</p>
                            <p class="history__text">892484213</p>
                        </div>
                        <div class="history__pay-box2">
                            <p class="history__header">Номер телефона</p>
                            <p class="history__text">+7 (111) 111-11-11</p>
                        </div>
                        <div class="history__pay-box3">
                            <p class="history__header">Дата платежа</p>
                            <p class="history__text">01.01.2023</p>
                        </div>
                        <div class="history__pay-box4">
                            <p class="history__header">Сумма платежа</p>
                            <p class="history__text">999 999.00₽</p>
                        </div>
                        <div class="history__pay-box5">
                            <p class="history__header">Метод оплаты</p>
                            <p class="history__text">Оплата картой выпущенной в РФ</p>
                        </div>
                    </div>
                      <div class="history__pay fon">
                        <div class="history__pay-box1">
                            <p class="history__header">Номер заказа</p>
                            <p class="history__text">892484213</p>
                        </div>
                        <div class="history__pay-box2">
                            <p class="history__header">Номер телефона</p>
                            <p class="history__text">+7 (111) 111-11-11</p>
                        </div>
                        <div class="history__pay-box3">
                            <p class="history__header">Дата платежа</p>
                            <p class="history__text">01.01.2023</p>
                        </div>
                        <div class="history__pay-box4">
                            <p class="history__header">Сумма платежа</p>
                            <p class="history__text">999 999.00₽</p>
                        </div>
                        <div class="history__pay-box5">
                            <p class="history__header">Метод оплаты</p>
                            <p class="history__text">Оплата картой выпущенной в РФ</p>
                        </div>
                    </div>

         
        </div>
    </div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}
