{% extends 'layouts/base.html.twig' %}
{% block title %}Анкеты - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=22bbec55-f932-4a17-beb2-c5927a172692" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
    </style>
    {% include 'partials/header.html.twig' %}
    <div class="">
        <div class="content">
            <div class="bread">
                <a href="/" class="nuxt-link-active main_vavancies" >Главная</a>
                <a href="" class="nuxt-link-active" >Анкеты</a>
            </div>
            <div class="choose">
                <p>Все анкеты:</p>
                <div class="for mob_group_btn">
                    <div class="click">
                        <a href="/vacancies/muzh-na-chas" class="">Мастер на час</a>
                    </div>
                    <div class="click" >
                        <a href="/vacancies/domrabotnica" aria-current="page" class="nuxt-link-exact-active nuxt-link-active">Домработница</a>
                    </div>
                    <div class="click">
                        <a href="/vacancies/nyanya" class="">Няня</a>
                    </div>
                    <div class="click">
                        <a href="/vacancies/sidelka" class="">Сиделка</a>
                    </div>
                </div>
            </div>

            <div class="mains">
                <div class="fon">

                    <button class="accordion_filter"><span>Фильтр анкет</span></button>
                    <div class="panel_filter">
                        <div class="inside_city">
                            <div class="block_emp">
                                <p>Город</p>
<!--                                <select name="select" >
                                    {% for city in cities %}
                                        <option value="{{ city.id }}">{{ city.name }}</option>
                                    {% endfor %}
                                </select>-->
                            </div>


                            <script type="text/javascript">
                                // <![CDATA[
                                function loadDistrict(select)
                                {
                                    var districtSelect = $('select[name="district"]');
                                    districtSelect.attr('disabled', 'disabled'); // делаем список городов не активным

                                    // послыаем AJAX запрос, который вернёт список городов для выбранной области
                                    $.getJSON('index.php', {action:'getDistrict', district:select.value}, function(districtList){
                                        districtSelect.html(''); // очищаем список городов
                                        // заполняем список районов новыми пришедшими данными
                                        $.each(districtList, function(i){
                                            districtSelect.append('<option value="' + i + '">' + this + '</option>');
                                        });
                                        districtSelect.removeAttr('disabled'); // делаем список городов активным
                                    });
                                }
                                // ]]>
                            </script>

                            <form action="/employee" method="post">
                                <select name="city" onchange="loadDistrict(this)">
                                    <option></option>
                                    {% for district, districtList in myArr %}
                                        <option value="district">{{ district }}</option>
                                    {% endfor %}
                                </select>

                                <select name="district" disabled="disabled">
                                    <option>Выберите район</option>
                                </select>
                            </form>




                            <div class="block_emp">
                                <p>Район</p>
                                <select name="select">
                                    <option value="value1" >Отрадное</option>
                                    <option value="value2" selected="selected">Отрадное</option>
                                    <option value="value3" >Отрадное</option></select></div>

                            <div class="block_emp" ><p>Почасовая ставка</p>
                                <div class="mob_bet">
                                    <div class="mob_bet_number">
                                        <span>от</span>
                                        <input type="number" name="number" placeholder="350">
                                    </div>
                                    <div class="mob_bet_number">
                                        <span >до</span>
                                        <input type="number" name="number" placeholder="1000">
                                    </div>
                                </div>
                            </div>
                            <div class="block_emp mobs" ><p>Проживание:</p> <select name="select" >
                                    <option value="value1" >С проживанием</option>
                                    <option value="value2" selected="selected" >С проживанием</option>
                                    <option value="value3" >С проживанием</option></select></div>
                            <div class="block_emp mobs" >
                                <p >Оплата:</p>
                                <div class="both" >
                                    <select name="select" >
                                        <option value="value1" >Почасовая</option>
                                        <option value="value2" selected="selected" >Почасовая</option>
                                        <option value="value3" >Почасовая</option>
                                    </select>
                                    <div class="mob_bet">
                                        <div class="mob_bet_number">
                                            <div class="hour" ><span >от</span>
                                                <input type="number" name="numbers" placeholder="350р" >
                                            </div>
                                        </div>
                                        <div class="mob_bet_number">
                                            <div class="hour" ><span >до</span>
                                                <input type="number" name="numberss" placeholder="900р">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!--  <div class="sort mobs">
                           <p >Сортировать по:</p>
                           <select name="select" >
                             <option value="value1" >Новизне</option>
                             <option value="value2" selected="selected" >Новизне</option>
                              <option value="value3">Новизне</option></select>
                            </div>  -->
                        <div class="knopka mob_emp mobs">
                            <a href="/vacancies/domrabotnica" aria-current="page" class="nuxt-link-exact-active nuxt-link-active" >Применить</a>
                        </div>
                    </div>
                </div>
                <div class="big" >
                    <div class="title" >
                        <h2 >Все анкеты</h2>
                    </div>


                    <div id="map" style="width: 833px; height: 500px; margin-bottom: 20px"></div>
<!--                    <div class="open_map" onclick="openMap()">Раскрыть карту</div>-->
                    <div class="large fon">
                        <div class="in" >
                            <div class="formob">
                                <!---->
                                <!--         <div class="together mobs">
                                        <div class="all" >
                                          <p>Все </p>
                                           <img data-src="/_nuxt/img/downs.3c8ce17.svg" src="/preload.gif" class="lazyLoad">
                                        </div>
                                       <div class="filter">
                                         <img data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxNyAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMTUuNDk2NiIgd2lkdGg9IjE4IiBoZWlnaHQ9IjEiIHRyYW5zZm9ybT0icm90YXRlKDkwIDE1LjQ5NjYgMCkiIGZpbGw9IiM2RDNENjciLz4KPHJlY3QgeD0iOSIgd2lkdGg9IjE4IiBoZWlnaHQ9IjEiIHRyYW5zZm9ybT0icm90YXRlKDkwIDkgMCkiIGZpbGw9IiM2RDNENjciLz4KPHJlY3QgeD0iMi41MDI5MyIgd2lkdGg9IjE4IiBoZWlnaHQ9IjEiIHRyYW5zZm9ybT0icm90YXRlKDkwIDIuNTAyOTMgMCkiIGZpbGw9IiM2RDNENjciLz4KPGNpcmNsZSBjeD0iMTUiIGN5PSI0IiByPSIxLjc1IiBmaWxsPSJ3aGl0ZSIgc3Ryb2tlPSIjNkQzRDY3IiBzdHJva2Utd2lkdGg9IjAuNSIvPgo8Y2lyY2xlIGN4PSIyIiBjeT0iOCIgcj0iMS43NSIgZmlsbD0id2hpdGUiIHN0cm9rZT0iIzZEM0Q2NyIgc3Ryb2tlLXdpZHRoPSIwLjUiLz4KPGNpcmNsZSBjeD0iOC41IiBjeT0iMTQiIHI9IjEuNzUiIGZpbGw9IndoaXRlIiBzdHJva2U9IiM2RDNENjciIHN0cm9rZS13aWR0aD0iMC41Ii8+Cjwvc3ZnPgo=" src="/preload.gif"  class="lazyLoad">
                                       </div>
                                     </div>  -->
                                <!---->
                            </div>
                            <div class="novacanse">
                                <p>По данному запросу анкет не найдено</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html.twig' %}
    <script type="text/javascript">
        function openMap() {
            $("#map").css("height", "500px")
        }

        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                    center: [55.751574, 37.573856],
                    zoom: 9
                }, {
                    searchControlProvider: 'yandex#search'
                }),

                // Creating a content layout.
                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),

                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                    hintContent: 'Анкета №2',
                    balloonContent: '<div><div>Анкета №2</div><div>Описание анкеты</div></div>'
                }, {
                    /**
                     * Options.
                     * You must specify this type of layout.
                     */
                    iconLayout: 'default#image',
                    // Custom image for the placemark icon.
                    iconImageHref: 'assets/img/map_point.svg',
                    // The size of the placemark.
                    iconImageSize: [30, 30],
                    /**
                     * The offset of the upper left corner of the icon relative
                     * to its "tail" (the anchor point).
                     */
                    iconImageOffset: [-5, -38]
                }),

                myPlacemarkWithContent = new ymaps.Placemark([55.661574, 37.573856], {
                    hintContent: 'Анкета №1',
                    balloonContent: '<div><div>Анкета №1</div><div>Описание анкеты</div></div>',
                    //iconContent: '12'

                }, {
                    /**
                     * Options.
                     * You must specify this type of layout.
                     */
                    iconLayout: 'default#imageWithContent',
                    // Custom image for the placemark icon.
                    iconImageHref: 'assets/img/map_point.svg',
                    // The size of the placemark.
                    iconImageSize: [30, 30],
                    /**
                     * The offset of the upper left corner of the icon relative
                     * to its "tail" (the anchor point).
                     */
                    iconImageOffset: [-24, -24],
                    // Offset of the layer with content relative to the layer with the image.
                    iconContentOffset: [15, 15],
                    // Content layout.
                    iconContentLayout: MyIconContentLayout
                });

            myMap.geoObjects
                .add(myPlacemark)
                .add(myPlacemarkWithContent);
        });

    </script>
{% endblock %}
