{% extends 'layouts/main.html.twig' %}
{% block title %}Hello PagesController!{% endblock %}
{% block body %}

    {#  <div id="app"><app /></div> #}

    {# <h1>Editing user </h1>
    <div id="user-edit-app"></div> #}

    {% include 'partials/header.html.twig' %}
    <main class="main-page">
        {# Component Registration #}
        <div id="registration"></div>
        <section class="advantage">
            {% include 'partials/pages/main/advantage_box_why.html.twig' %}
            <div id="advantage_box_search"></div>
            {#{% include 'partials/pages/main/advantage_box_search.html.twig' %}#}
        </section>

        <section class="how-it-works">
            {% include 'partials/pages/main/how_it_works_header.html.twig' %}
        </section>

        {% include 'partials/pages/main/reviews.html.twig' %}

        <div class="inner">
            {% include 'partials/pages/main/section_feedback.html.twig' %}
        </div>
        <div class="inner">
            {% include 'partials/pages/main/section_app.html.twig' %}
        </div>
        <div class="inner">
            {% include 'partials/pages/main/footer.html.twig' %}
        </div>
    </main>

{% endblock %}
