{% extends 'layouts/main.html.twig' %}
{% block title %}Главная - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block content %}

    {% include 'partials/header.html.twig' %}
    {% include 'partials/_message.html.twig' %}

    {% for message in app.flashes('notification') %}
        <div class="alert-success alert alert-dismissible" role="alert">
            <p>{{ message }}</p>
            {#<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>#}
        </div>
    {% endfor %}
    
    <div>
        <div id="app">
            <try-and-register></try-and-register>
        </div>
        {% include 'partials/pages/main/why.html.twig' %}
    </div>
    {% include 'partials/pages/main/_block3.html.twig' %}


{#    <div class="block1 content">#}
{#        <div class="cart fon">#}
{#            <h2>Почему no problem?</h2>#}
{#            <div class="grid">#}

{#                <div class="dom">#}
{#                    <div class="image ones">#}
{#                        <img src="assets/img/free-icon-checkeds.svg">#}
{#                    </div>#}
{#                    <h4>Верификация каждого пользователя</h4>#}
{#                    <p>У нас нет ботов - каждый человек реален. Защита данных. Мы не передаём Ваши данные третьим лицам без Вашего согласия</p>#}
{#                </div>#}

{#                <div class="dom">#}
{#                    <div class="image two">#}
{#                        <img src="assets/img/arm.svg">#}
{#                    </div>#}
{#                    <h4>Помощь в проведении собеседований</h4>#}
{#                    <p>У нас есть все необходимые материалы, для того, чтобы Вы успешно провели собеседование и могли выбрать максимально подходящий вариант</p>#}
{#                </div>#}

{#                <div class="dom">#}
{#                    <div class="image three">#}
{#                        <img src="assets/img/premium-icon.svg">#}
{#                    </div>#}
{#                    <h4>Ценность гораздо выше цены</h4>#}
{#                    <p>Убедитесь в этом уже сегодня!Стоимость доступа к платформе всего от 75 р/сутки. Но чем больше времени Вам понадобится для поиска, тем ниже стоимость доступа!</p>#}
{#                </div>#}

{#                <div class="dom">#}
{#                    <div class="image four">#}
{#                        <img src="assets/img/girl.svg">#}
{#                    </div>#}
{#                    <h4>Услуга “персональный менеджер”</h4>#}
{#                    <p>Он внимательно выслушает все Ваши пожелания и подберет для Вас несколько подходящих кандидатов</p>#}
{#                </div>#}

{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#    <div class="block2">#}
{#        <div class="poisk content">#}
{#            <h2>Поиск работника или работы</h2>#}
{#            <div class="work">#}
{#                <div  class="bob"><div class="inside">#}
{#                        <img src="assets/img/master.png" class="lazyLoad isLoaded">#}
{#                        <h3>Мастер на час</h3>#}
{#                        <div class="backgroundfon" style="display: none;"><div class="okno fon">#}
{#                                <div class="okno fon oneblock"><div class="in">#}
{#                                        <div  class="title"><h2 >Чем мы можем вам помочь?</h2>#}
{#                                            <div  class="krest"><img  data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM0LjY2NjMgMS4zMzMzM0wxLjMzMzAxIDM0LjY2NjdNMzQuNjY2MyAzNC42NjY3TDEuMzMzMDEgMS4zMzMzM0wzNC42NjYzIDM0LjY2NjdaIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K" src="/preload.gif" class="lazyLoad">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div  class="double">#}
{#                                            <div  class="button" style="cursor: pointer;"><a >Ищу работу</a>#}
{#                                            </div>#}
{#                                            <div  class="button" style="cursor: pointer;">#}
{#                                                <a>Ищу работника</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="bob">#}
{#                    <div class="inside">#}
{#                        <img src="assets/img/housekeep.png" class="lazyLoad isLoaded">#}
{#                        <h3>Домработница</h3>#}
{#                        <div  class="backgroundfon" style="display: none;">#}
{#                            <div class="okno fon"><div class="okno fon oneblock">#}
{#                                    <div  class="in">#}
{#                                        <div  class="title">#}
{#                                            <h2 >Чем мы можем вам помочь?</h2>#}
{#                                            <div data-v-3aa54415="" class="krest">#}
{#                                                <img data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM0LjY2NjMgMS4zMzMzM0wxLjMzMzAxIDM0LjY2NjdNMzQuNjY2MyAzNC42NjY3TDEuMzMzMDEgMS4zMzMzM0wzNC42NjYzIDM0LjY2NjdaIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K" src="/preload.gif" class="lazyLoad"></div>#}
{#                                        </div>#}
{#                                        <div  class="double">#}
{#                                            <div  class="button" style="cursor: pointer;">#}
{#                                                <a>Ищу работу</a>#}
{#                                            </div>#}
{#                                            <div class="button" style="cursor: pointer;"><a >Ищу работника</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="bob">#}
{#                    <div class="inside">#}
{#                        <img src="assets/img/babysit.png" class="lazyLoad isLoaded">#}
{#                        <h3>Няня</h3>#}
{#                        <div  class="backgroundfon" style="display: none;">#}
{#                            <div  class="okno fon">#}
{#                                <div  class="okno fon oneblock">#}
{#                                    <div  class="in">#}
{#                                        <div class="title">#}
{#                                            <h2 >Чем мы можем вам помочь?</h2>#}
{#                                            <div  class="krest">#}
{#                                                <img  data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM0LjY2NjMgMS4zMzMzM0wxLjMzMzAxIDM0LjY2NjdNMzQuNjY2MyAzNC42NjY3TDEuMzMzMDEgMS4zMzMzM0wzNC42NjYzIDM0LjY2NjdaIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K" src="/preload.gif" class="lazyLoad">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div  class="double">#}
{#                                            <div class="button" style="cursor: pointer;">#}
{#                                                <a >Ищу работу</a>#}
{#                                            </div>#}
{#                                            <div class="button" style="cursor: pointer;">#}
{#                                                <a >Ищу работника</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div  class="bob">#}
{#                    <div class="inside">#}
{#                        <img src="assets/img/nurse.png" class="lazyLoad isLoaded">#}
{#                        <h3>Сиделка</h3>#}
{#                        <div  class="backgroundfon" style="display: none;">#}
{#                            <div  class="okno fon">#}
{#                                <div class="okno fon oneblock"><div class="in">#}
{#                                        <div  class="title">#}
{#                                            <h2 data-v-3aa54415="">Чем мы можем вам помочь?</h2>#}
{#                                            <div  class="krest"><img  data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM0LjY2NjMgMS4zMzMzM0wxLjMzMzAxIDM0LjY2NjdNMzQuNjY2MyAzNC42NjY3TDEuMzMzMDEgMS4zMzMzM0wzNC42NjYzIDM0LjY2NjdaIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K" src="/preload.gif" class="lazyLoad">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div  class="double">#}
{#                                            <div  class="button" style="cursor: pointer;"><a >Ищу работу</a>#}
{#                                            </div>#}
{#                                            <div  class="button" style="cursor: pointer;">#}
{#                                                <a >Ищу работника</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    {% include 'partials/pages/main/_block3.html.twig' %}
    {% include 'partials/pages/main/_block4.html.twig' %}
    {% include 'partials/pages/main/_block5.html.twig' %}
    {% include 'partials/pages/main/_block6.html.twig' %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}


