{% extends 'layouts/main.html.twig' %}
{% block title %}Главная - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block content %}

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    {% include 'partials/header.html.twig' %}
    <div>
        <div id="app">
            <try-and-register />
        </div>
        {% include 'partials/pages/main/why.html.twig' %}
    </div>
    {% include 'partials/pages/main/_block3.html.twig' %}
    {% include 'partials/pages/main/_block4.html.twig' %}
    {% include 'partials/pages/main/_block5.html.twig' %}
    {% include 'partials/pages/main/_block6.html.twig' %}
    {% include 'partials/footer.html.twig' %}


<!--    <button id="openModal" onclick="openModal()">Open Modal</button>-->

    <!-- The Modal -->
    <div id="login" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p>Some text in the Modal..</p>
            <span class="close" onclick="openSecondModal()">Register</span>
        </div>
    </div>

    <div id="register" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeSecondModal()">&times;</span>
            Register form
        </div>
    </div>

<!--    <script>
        function openModal() {
            $("#login").css("display", "block");
        }
        function closeModal() {
            $("#login").css("display", "none");
        }
        function closeSecondModal() {
            $("#register").css("display", "none");
        }
        function openSecondModal() {
            $("#register").css("display", "block");
            $("#login").css("display", "none");
        }
    </script>-->

    {#<div class="one content">
        <div class="mobfile">
          <p>Найдите надежного работника<br> или работу самостоятельно</p>
        </div>
        <div class="griding top">
          <div class="set" v-for="onecat of category" :key="onecat._id" v-if="onecat.home" >
          <categoryDplitka :data="onecat" class="mobilesVIEW"/>
          </div>

        </div>
      </div>#}
{% endblock %}


