{% extends 'layouts/base.html.twig' %}
{% block title %}Тарифы - Онлайн-сервис по подбору домашнего персонала
{% endblock %}
{% block body %}
	{% include 'partials/header.html.twig' %}
	<main>
		{% if app.user %}
			{% if is_granted('ROLE_EMPLOYEE') %}
				{% include 'partials/pages/tarifs/_employer_description.html.twig' %}
			{% endif %}
			{% if is_granted('ROLE_CUSTOMER') %}
				{% include 'partials/pages/tarifs/_customer_description.html.twig' %}
			{% endif %}
		{% else %}
			{% include 'partials/pages/tarifs/_description.html.twig' %}
		{% endif %}

		{% if app.user %}
			{% if is_granted('ROLE_EMPLOYEE') %}
				{% include 'partials/pages/tarifs/_for_emploer.html.twig' %}
			{% endif %}
			{% if is_granted('ROLE_CUSTOMER') %}
				{% include 'partials/pages/tarifs/_for_customer.html.twig' %}
			{% endif %}
		{% else %}
			{% include 'partials/pages/tarifs/_for_emploer.html.twig' %}
			{% include 'partials/pages/tarifs/_for_customer.html.twig' %}
		{% endif %}
	</main>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
