{% extends 'layouts/base.html.twig' %}
{% block title %}Курсы Компании - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div id="vue-app">
    </div>
    {% include 'partials/footer.html.twig' %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}