{% extends 'layouts/base.html.twig' %}
{% block title %}Blog{% endblock %}
{% block body %}
    {% include 'partials/header.html.twig' %}
    <div id="blog"></div>
    {% include 'partials/footer.html.twig' %}
{% endblock %}