<div class="choose">
    <p>Все анкеты:</p>
    <div class="for mob_group_btn">
        {% for category in categories %}
            <div class="click_master">
                <a href="{{ path('app_all_workers', { category: category.slug}) }}" class="">{{ category.name }}</a>
            </div>
        {% endfor %}
    </div>
</div>