<div class="block4">
    <div class="platform content">
        <h2>Отзывы о работе платформы</h2>
        <img class="point4" src="{{ asset('assets/img/fox.svg') }}">
        <img class="point5" src="{{ asset('assets/img/Decosds.svg') }}">
        <img class="point6" src="{{ asset('assets/img/Decodfg.svg') }}">
        <!--    <sliderthree />-->
    </div>
</div>
