<section class="feedback">
    <h3 class="feedback_header">Помогите нам стать лучше</h3>
    <p class="feedback_text">Ваше мнение очень важно для нас!</p>
    <div class="feedback_btn-box">
        <button class="feedback_btn" type="button">Написать предложение</button>
    </div>
</section>