<button class="accordion_filter_one_vacan want_one_vacan">
    <img src="assets/img/ant-designs.svg" src="/preload.gif" class="lazyLoad">
    <span>График работы</span>
    <img src="assets/img/str2.svg" src="/preload.gif" class="lazyLoad">
</button>
<div class="panel_filter">
    <div class="inside_creating_vacan" v-if="two">
        <div class="days">
            <div class="once">
                <div class="week_creating_form">
                    <h5>Пн</h5>
                    <div class="time_creating_form">
                        <div class="mins_creating_form">
                            <p>12:00</p>
                        </div>
                        <p>-</p>
                        <div class="mins_creating_form">
                            <p>16:00</p>
                        </div>
                    </div>
                </div>

                <div class="week_creating_form">
                    <h5>Вт</h5>
                    <div class="time_creating_form">
                        <div class="mins_creating_form">
                            <p>12:00</p>
                        </div>
                        <p>-</p>
                        <div class="mins_creating_form">
                            <p>16:00</p>
                        </div>
                    </div>

                </div>

                <div class="week_creating_form">
                    <h5>Ср</h5>
                    <div class="time_creating_form">
                        <div class="mins_creating_form">
                            <p>12:00</p>
                        </div>
                        <p>-</p>
                        <div class="mins_creating_form">
                            <p>16:00</p>
                        </div>
                    </div>

                </div>

                <div class="week_creating_form">
                    <h5>Чт</h5>
                    <div class="time_creating_form">
                        <div class="mins_creating_form">
                            <p>12:00</p>
                        </div>
                        <p>-</p>
                        <div class="mins_creating_form">
                            <p>16:00</p>
                        </div>
                    </div>

                </div>

                <div class="week_creating_form">
                    <h5>Пт</h5>
                    <div class="time_creating_form">
                        <div class="mins_creating_form">
                            <p>12:00</p>
                        </div>
                        <p>-</p>
                        <div class="mins_creating_form">
                            <p>16:00</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>