<div  class="simple_one_vacan nona">
    <div>
        <div class="sim">
            <img src="assets/img/Ellipse.svg" class="lazyLoad isLoaded">
            <p>Младшая школа (7-10 лет)</p>
        </div>
        <div class="sim">
            <img src="assets/img/Ellipse.svg" class="lazyLoad isLoaded">
            <p>Развитие по возрасту</p>
        </div>
    </div>
    <div>
        <div class="sim">
            <img  src="assets/img/Ellipse.svg" class="lazyLoad isLoaded">
            <p>Контроль за домашними заданиями</p>
        </div>
        <div class="sim">
            <img  src="assets/img/Ellipse.svg" class="lazyLoad isLoaded">
            <p>1 ребенок</p>
        </div>
    </div>
    <div class="sim">
        <img  src="assets/img/Ellipse.svg" class="lazyLoad isLoaded">
        <p>Прогулка, сопровождение в сад / на занятия</p>
    </div>
</div>