<div class="block_emp">
    <p>Площадь квартиры/дома в кв.м.: </p>
    <input type="number" id="square" name="square" class="text_input date" value="{{ app.request.query.get('square') }}"><br />
</div>

<div class="block_emp">
    <p>Уборка:</p>
    <select name="cleaning" id="cleaning">
        <option value="">Выберите</option>
        {% for key, cleaning in cleanings %}
            <option value="{{ key }}" {% if app.request.query.get('cleaning') == key %} selected {% endif %}>
                {{ cleaning }}
            </option>
        {% endfor %}
    </select>
</div>


<div class="block_emp">
    <div class="input-select-multiple">
        <p>Проживание</p>
        <fieldset id="accommodation" style="border: none">
            <label for="radio" class="work_start_now">С проживанием
                <input type="radio" name="accommodation" class="white" value="1"
                        {% if app.request.query.get('accommodation') == 1 %} checked {% endif %} />
                <span class="checkmark"></span>
            </label>
            <label for="radio" class="work_start_now">Без проживания
                <input type="radio" name="accommodation" class="white" value="2"
                        {% if app.request.query.get('accommodation') == 2 %} checked {% endif %} />
                <span class="checkmark"></span>
            </label>
        </fieldset>
    </div>
</div>
