{% extends 'layouts/base.html.twig' %}
{% block title %}Служба поддержки - Онлайн-сервис по подбору домашнего персонала{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    {% include 'partials/header.html.twig' %}
    <div class=" content">
        <div class="bread_personal_account">
            <a href="{{ path('app_main') }}" class="nuxt-link-active">Главная</a>
            <a>/ Опередение города</a>
        </div>


<!-- 1 мод окно -->
<div id="openModal" class="modal__city" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content-city">
      <div class="modal-header">
        <h3 class="modal-title">Ваш город <span class="js-name-city-detected"></span>?</h3>
        <a href="#close" title="Close" class="close__city js-close-1"><img src="/assets/img/krest.svg" alt=""></a>
      </div>
      <div class="modal-body">    
        <div class="btn_city-group btn_try_custom">
            <button type="button" class="btn btn__city-true js-city-success">Да, все верно</button>
            <button type="button" class="btn btn-city-search js-city-warning">Выбрать город</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 2 мод окно -->
<div id="openModalCity" class="modal__city" style="display: none">
  <div class="modal-dialog-search">
    <div class="modal-content-city-search">
      <div class="modal-header">
        <h3 class="modal-title">Ваш город <span class="js-name-city-detected"></span>?</h3>
        <a href="#close" title="Close" class="close__city js-close-2">×</a>
      </div>
      <div class="modal-body">
        <div class="input__modal">
          <input type="text" name="input__search" id="myInput" placeholder="Ваш город" >
          <img class="search__city" src="/assets/img/search.svg" alt="search">
          <ul class="city__list">
            <li class="city__list-item">Москва</li>
            <li>Екатеринбург</li>
            <li>Санкт-Петербург</li>
            <li>Казань</li>
            <li>Москва</li>
            <li>Екатеринбург</li>
            <li>Санкт-Петербург</li>
            <li>Казань</li>
          </ul>
          <img class="seach__check" src="/assets/img/check.svg" alt="search">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
    function getCookie(name) {
        let dc = document.cookie;
        let prefix = name + "=";
        let begin = dc.indexOf("; " + prefix);
        if (begin === -1) {
            begin = dc.indexOf(prefix);
            if (begin !== 0) return null;
        }
        else
        {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end === -1) {
                end = dc.length;
            }
        }
        return decodeURI(dc.substring(begin + prefix.length, end));
    }

    let coockieCity = getCookie('city');
    if (coockieCity === null) {
        console.log(coockieCity);
        //fetch('https://shelikhov.me/noproblem/getCityByIP.php').then(async function (response)
        fetch('city-by-ip').then(async function (response)
        {
            let text = await response.json();
            console.log(text);
            document.querySelectorAll('.js-name-city-detected').forEach((span) => {
                span.innerHTML = text;
                document.querySelector('#openModal').style.display="flex";
            });
        });
    }

    document.querySelector('.js-close-1').addEventListener('click', () => {
        document.querySelector('#openModal').style.display="none";
    });
    document.querySelector('.js-city-success').addEventListener('click', async () => {

        document.querySelector('#openModal').style.display = "none";

        let response = await fetch('{{ path('app_city_by_ip') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            //body: 'city='+document.querySelector('.js-name-city-detected').innerHTML
            body: JSON.stringify({
                city: document.querySelector('.js-name-city-detected').innerHTML,
            })
        });
    });
    document.querySelector('.js-city-warning').addEventListener('click', () => {
        document.querySelector('#openModal').style.display="none";
        document.querySelector('#openModalCity').style.display="flex";
    });
    document.querySelector('.js-close-2').addEventListener('click', () => {
        document.querySelector('#openModalCity').style.display="none";
    });

/*
    $(document).ready(function(){
        $('.js-city-success').click(function(){
            var url = '{{ path('app_city_by_ip') }}';
            //dataString = '';
            jQuery.ajax({
                url: url,
                data: dataString,
                type: "POST",
                success:function(){

                },
                error:function (){}
            });
        });
    });
*/






    $(document).ready(function(){
        $('span.add-job-8').click(function(){
            let url;
            if($(this).hasClass('active')){
                url = '/remove-from-favorite/job-8';
                $.get(url, function (data){
                    $(".add-job-8").removeClass('liked');
                    $('.like-info-8').remove();
                });
            }else{
                url = '/add-to-favorite/job-8';
                $.get(url, function (data){
                    $(".add-job-8").addClass('liked');
                    $(".add-job-8").after(' <div class="like-info like-info-8">Добавлено в избранное</div>');
                });
            }
        });





        $(".btn-show-info-8").click(function(){
            $(".additional-info-8").show();
            $(".btn-show-info-8").addClass('hidden');
            $(".btn_box_account_two_vacan_8").css('margin-left', '0');
        });
    });
</script>

{% include 'partials/footer.html.twig' %}
{% endblock %}

