#map {

}
.open_map {
    border-radius: 10px;
    border: 1px solid var(--violet);
    background: #fff;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
}

/* The Modal (background) */
/*#login,
#regiter {
    display: none;
}*/
