.open_map {
    border-radius: 10px;
    border: 1px solid var(--violet);
    background: #fff;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;
}

.grig-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    margin-bottom: 10px;
}
.grig-group2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    gap: 20px;
    margin-bottom: 10px;

    grid-column-start: 3;
    grid-row-start: 2;
}
.input {
/*    display: grid;
    grid-gap: 10px;
    gap: 10px;*/
}

.form-std-custom label {
    display: block;
    font-size: 18px;
    margin: 10px 0 10px 10px;
}

.form-std-custom input,
.form-std-custom select,
.form-std-custom textarea {
    color: #606060;
    font-size: 18px;
    border-radius: 40px;
    border: 1px solid #dbdbdb;
    height: auto;
    padding: 12px 5px 12px 22px;
    width: 80%;
}
.form-std-custom textarea {
    width: 87%;
    min-height: 120px;
}
.btn_try_custom {
    margin-top: 40px;
    text-align: center;

}
.btn_try button {
    font-size: 18px;
    padding: 20px 94px;
    color: #fff;
    background: #6d3d67;
    background: var(--violet);
    border-radius: 40px;
    cursor: pointer;
    border: none;
}
.btn_try button:hover {
    opacity: .8;
    transition: .2s;
}
.in_account h2 {
    text-align: center;
    margin-bottom: 20px;
}

.required:after {
    content: ' *';
    color: #ff0000;
}
input[required] + label:after {
    content: '*';
    color: red;
}

/* Alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.box_account_list {
    width: auto;
    margin-bottom: 10px;
}

.abouts_creating_form textarea {
    width: 300px;
    height: 100px;
}

#job_form_startNow {
    color: #fff;
    background: var(--violet);
    border-radius: 30px;
    padding: 12px 36px;
}

input.mins_creating_form {
    width: 57px;
    height: 29px;
    text-indent: 5px;
    font-size: 14px;
    color: #7B7B7B;
}