@font-face {
  font-family: "FuturaPT-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("FuturaPT-Medium"),
    url("fonts/FuturaPT-Medium.woff") format("woff");
}

@font-face {
  font-family: "FuturaPT";
  font-style: normal;
  font-weight: 400;
  src: local("FuturaPT"),
    url("fonts/FuturaPT.woff") format("woff");
}

:root {
  --beige: #E5CBB2;
  --purple: #6D3D67;
  --white: #ffffff;
  --black: #000000;
  --grey: #E3E3E3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


h1, h2, h3, p {
  margin: 0;
  padding: 0;
}


body {
  font-family: "FuturaPT-Medium", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}












.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav_box {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_blog,
.nav_list,
.nav_btn-worker,
.nav_btn-employer {
  margin-right: 30px;
}



.nav_blog a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.nav_list a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.nav_blog-text {
  margin-right: 10px;
}

.nav_list-text {
  margin-right: 10px;
}


.nav_btn-worker {
  width: 179px;
  height: 44px;
  background: #FFFFFF;
  border-style: none;
  border: 2px solid #6D3D67;
  border-radius: 40px;
  color: var(--purple);
  padding: 0;
}

.nav_btn-worker.active {
  background: #6D3D67;
  color: var(--white);
}

.nav_btn-employer {
  width: 179px;
  height: 44px;
  background: #FFFFFF;
  border-style: none;
  border: 2px solid #6D3D67;
  border-radius: 40px;
  color: var(--purple);
  padding: 0;
}

.nav_btn-employer.active {
  background: #6D3D67;
  color: var(--white);
}

.nav_btn-menu {
  width: 44px;
  height: 44px;
  background: transparent;
  border-style: none;
  padding: 0;
}

































.banner {
  width: 100%;
  min-height: 642px;
  background: url(img/banner-index.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.banner_header {
  width: 60%;
  font-family: 'FuturaPT', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  color: var(--black);
  padding-top: 115px;
  white-space: pre-wrap;
}

.banner_header-2 {
  position: relative;
  font-family: 'FuturaPT', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  color: var(--beige);
  white-space: pre-wrap;

}

.banner_header-2::before {
  position: absolute;
  top: 60px;
  left: 0;
  content: "";
  width: 330px;
  height: 1px;
  background-color: var(--beige);
}

.banner_btn-box {
  position: relative;
  top: 15px;
  left: 0;
  content: "";
  width: 143px;
  height: 145px;
  background: url(icons/bg-icons/Ellipse-0.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 71px;
  padding-right: 71px;
  z-index: 1;
}

.banner_btn-box::after {
  position: absolute;
  top: 21%;
  left: 2%;
  content: "";
  width: 104px;
  height: 78px;
  background: url(icons/bg-icons/Ellipse-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.banner_btn-box::before {
  position: absolute;
  top: 17%;
  left: 72%;
  content: "";
  width: 44px;
  height: 80px;
  background: url(icons/bg-icons/Ellipse-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.banner_btn {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--purple);
  color: var(--white);
  padding: 20px 5px 20px 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 286px;
  border-radius: 60px;
  cursor: pointer;
  z-index: 2;
}





























.advantage {
  position: relative;
  background: var(--purple);
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  min-height: 970px;
}

.advantage::before {
  position: absolute;
  left: -47px;
  top: -16%;
  content: "";
  width: 381px;
  height: 157px;
  background: url(icons/bg-icons/bg-for-advantage-section.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 381px 157px;
  z-index: 1;
}

.advantage_box-why {
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  background-color: var(--white);
  box-shadow: 0px -20px 89px rgba(221, 221, 221, 0.25), 20px 20px 89px rgba(33, 33, 33, 0.25);
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin: 0 auto;

}

.advantage-why_header {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  color: #000000;
  padding-bottom: 30px;

}

.advantage-why_list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.advantage-why_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.advantage-why_img-box {
  margin-bottom: 20px;
}


.advantage-why_item:nth-child(1) .advantage-why_img-box {
  position: relative;
  top: 0%;
  left: 0%;
  content: "";
  width: 133px;
  height: 127px;
  background: url(icons/bg-icons/Ellipse-3.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.advantage-why_item:nth-child(2) .advantage-why_img-box {
  position: relative;
  top: 0%;
  left: 0%;
  content: "";
  width: 131px;
  height: 127px;
  background: url(icons/bg-icons/Ellipse-4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.advantage-why_item:nth-child(3) .advantage-why_img-box {
  position: relative;
  top: 0%;
  left: 0%;
  content: "";
  width: 117px;
  height: 127px;
  background: url(icons/bg-icons/Ellipse-5.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.advantage-why_item:nth-child(4) .advantage-why_img-box {
  position: relative;
  top: 0%;
  left: 0%;
  content: "";
  width: 117px;
  height: 127px;
  background: url(icons/bg-icons/Ellipse-6.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}






.advantage_box-search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  bottom: 3%;
  display: block;
  width: 100%;
}

.advantage-search_header {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 70px;

}

.advantage-search_btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);

  margin: 0 auto;
}

.advantage-search_btn {
  position: relative;
  width: 260px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(23, 23, 23, 0.25);
  border-style: none;
  padding: 0;
  border-radius: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.advantage-search_btn:nth-child(4) {
  margin-right: 0;
}

.advantage-search_btn-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantage-search_btn-text {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;  
  text-align: center;
  color: #000000;
}

.advantage-why_text {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
}


.advantage-why_text-2 {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}


























.how-it-works {
  position: relative;
  min-height: 1174px;
}

.how-it-works_header {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #000000;
  padding: 100px 0 78px 0;
}

.how-it-works_header::before {
  position: absolute;
  top: 9%;
  left: 17%;
  content: "";
  width: 289px;
  height: 267px;
  background: url(icons/bg-icons/Ellipse-7.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.how-it-works_header::after {
  position: absolute;
  top: 9%;
  left: 70%;
  content: "";
  width: 194px;
  height: 220px;
  background: url(icons/bg-icons/Deco-8.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.how-it-works_video {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 54px;

}

.how-it-works_video::after {
  position: absolute;
  top: 13%;
  left: -1%;
  content: "";
  width: 146px;
  height: 192px;
  background: url(icons/bg-icons/Deco-9.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}


.how-it-works_links-to-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 238px; 
  background-color: var(--beige);
  border: 1px solid var(--beige);
  border-radius: 20px;
  padding: 0 50px 0 50px;
  margin: 0 auto;
}
.how-it-works_links-to-app::after {
  position: absolute;
  bottom: 20%;
  left: 32%;
  content: "";
  width: 180px;
  height: 201px;
  background: url(icons/bg-icons/Deco-10.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}


.how-it-works_link {
  width: 307px;
  height: 90px;
}

.how-it-works_link-img {
  width: 307px;
  height: 90px;
}
















.reviews {
  position: relative;
  min-height: 740px;
  overflow: hidden;
}

.reviews::after {
  position: absolute;
  top: 40%;
  right: 60%;
  content: "";
  width: 195px;
  height: 220px;
  background: url(icons/bg-icons/Deco-10.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}


.reviews::before {
  position: absolute;
  top: 17%;
  left: 61%;
  content: "";
  width: 195px;
  height: 220px;
  background: url(icons/bg-icons/Deco-13.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}


.reviews_header {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #000000;
}

.reviews_header::after {
  position: absolute;
  top: -2%;
  right: 0%;
  content: "";
  width: 254px;
  height: 209px;
  background: url(icons/bg-icons/Ellipse-11.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.reviews_header::before {
  position: absolute;
  top: 10%;
  left: 0%;
  content: "";
  width: 254px;
  height: 203px;
  background: url(icons/bg-icons/Ellipse-12.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.reviews_list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 160px;
  padding-bottom: 87px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.reviews_item-prev {
  position: absolute;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--purple);
  z-index: 1;
}

.reviews_item-next {
  position: absolute;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--purple);
  z-index: 1;
}

.reviews_item {
  position: relative;
  width: 360px;
  min-width: 360px;
  min-height: 337px;
  background: #FFFFFF;
  border: 1px solid #6D3D67;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 60px 20px 20px 20px;
  margin-right: 20px;
}

.reviews_item-img-box {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #6D3D67;
  border-radius: 50%;
}

.reviews_item-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  padding-bottom: 7px;
}

.reviews_item-prof {
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  padding-bottom: 15px;
}

.reviews_item-prof::after {
  position: absolute;
  top: 80%;
  left: 0;
  content: "";
  width: 320px;
  height: 1px;
  background-color: var(--grey);
  z-index: 1;
}

.reviews_item-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #000000;
  padding: 20px
}





























.feedback {
  position: relative;
  width: calc(100% - 40px);
  min-height: 431px;
  background-color: var(--purple);
  box-shadow: 20px 20px 89px rgba(40, 40, 40, 0.25);
  border-radius: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.feedback::after {
  position: absolute;
  top: 0%;
  right: -6%;
  content: "";
  width: 254px;
  height: 203px;
  background: url(icons/bg-icons/Deco-13.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 0;
}



.feedback::before {
  position: absolute;
  left: 0;

  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 200px;
  height: 200px;
  background: url(icons/arrow-feedback.svg) no-repeat;
  background-position: center;
  background-color: transparent;
}

.feedback_header {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;  
  text-align: center;
  color: #FFFFFF;
}

.feedback_header::after {
  position: absolute;
  top: 48%;
  left: -10%;
  content: "";
  width: 254px;
  height: 203px;
  background: url(icons/bg-icons/Deco-16.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 0;
}

.feedback_text {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;  
  text-align: center;
  color: #FFFFFF;
}


.feedback_btn-box {
  position: relative;
  width: 100%;
  height: 200px;

}


.feedback_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-style: none;
  width: 508px;
  height: 96px;
  background: #FFFFFF;

  border-radius: 40px;
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #000000;
  z-index: 2;

}

.feedback_btn-box::after {
  position: absolute;
  top: 30%;
  left: 69%;
  content: "";

  width: 150px;
  height: 127px;
  background: url(icons/bg-icons/Ellipse-18.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.feedback_btn-box::before {
  position: absolute;
  top: 10%;
  left: 38%;
  content: "";
  width: 232px;
  height: 221px;
  background: url(icons/bg-icons/Ellipse-17.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}
























.app {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  box-sizing: border-box;
  width: calc(100% - 40px);
  min-height: 680px;
  margin: 0 auto;
}

.app::before {
  position: absolute;
  top: -10%;
  right: 0%;
  content: "";
  width: 254px;
  height: 203px;
  background: url(icons/bg-icons/Deco-13.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.app::after {
  position: absolute;
  bottom: 0;
  right: 0%;
  content: "";
  width: 254px;
  height: 203px;
  background: url(icons/bg-icons/Ellipse-20.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.app-box-img {
  position: relative;
  width: 50%;
}

.app_item-img-1 {
  position: absolute;
  bottom: 0%;
  left: 10%;
}
.app_item-img-2 {
  position: absolute;
  top: -7%;
  left: 10%;

}
.app_item-img-3 {
  position: absolute;
  bottom: 10%;
  left: 75%;
}

.app-box-text {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 3%;
}

.app_header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  padding-bottom: 22px;
}

.app_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-bottom: 40px;
}

.app_link {
  text-decoration: none;
  color: transparent;
}

.app_link:nth-child(1) {
  margin-right: 26px;
}





.footer {
  position: relative;
  top: 0;
  background: #ffffff;

  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px solid var(--purple); */

  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: var(--black);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 75px;
}


.footer::before {
  position: absolute;
  top: 100%;
  content: "";
  width: calc(100% - 40px);
  height: 2px;
  background-color: var(--purple);
  margin: 0 auto;
}

.footer_logo-img {
  margin-bottom: 13px;
}

.footer_tel {
  margin-bottom: 55px;
}

.footer a {
  text-decoration: none;
  color: var(--black);
}

.footer_contact {
  display: flex;
  flex-direction: column;
}

.footer_vacancies {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}

.footer_support{
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}

.footer_questionnaires {
  display: flex;
  flex-direction: column;
  padding-top: 6%;

}

.footer_vacancies-link:nth-child(1) {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer_questionnaires-link:nth-child(1) {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer_support-text {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 26px;
}

.footer_support-btn {
  border-style: none;
  background-color: var(--purple);
  color: var(--white);
  border-radius: 40px;
  margin: 0;
  padding: 18px;
}






.footer-2 {
  position: relative;
  top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  padding-left: 20px;
  padding-right: 20px;

}


.footer-2 a {
  text-decoration: none;
}

.footer-2_link-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.footer-2_text {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: var(--black);
  margin-right: 20px;
}

.footer-2_social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-2_link-img {
  display: block;
  margin-right: 20px;
}



.footer-mobile_menu {
  display: none;
}

















































@media (max-width: 1220px) {

  .nav_blog,
  .nav_list,
  .nav_btn-worker,
  .nav_btn-employer {
    margin-right: 20px;
  }



  .banner_header {
    /* width: 100%; */
    font-size: 40px;
    line-height: 48px;
    padding-top: 45px;
  }

  .banner_header-2 {
    font-size: 40px;
    line-height: 48px;
  }

  .banner_header-2::before {
    width: 276px;
  }

  .advantage {
    min-height: 1100px;
  }

  .advantage-search_header {
    font-size: 40px;
    line-height: 48px;
  }

  .advantage_box-why {
    top: -68px;
  }

  .advantage::before {
    top: -6%;
  }

  .advantage-why_header {
    font-size: 40px;
    line-height: 48px;
  }



  .how-it-works_header {
    font-size: 40px;
    line-height: 48px;
  }

  .reviews_header {
    font-size: 40px;
    line-height: 48px;
  }

  .feedback_header {
    font-size: 40px;
    line-height: 48px;
  }

  .feedback_btn {
    width: 400px;
  }


  .app_header {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 850px) {

  .nav_blog,
  .nav_list,
  .nav_btn-worker,
  .nav_btn-employer {
    margin-right: 10px;
  }

  .advantage-why_list {
    flex-wrap: wrap;
  }
  .advantage {
    min-height: 1700px;
  }

  .advantage::before {
    top: -4%;
  }

  .advantage-search_btn-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantage-search_btn:last-child {
    margin-right: 20px;
  }

  .how-it-works_links-to-app {
    justify-content: center;
    align-items: center;
  }
  
  .how-it-works_links_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .how-it-works_text {
    width: 50%;
  }

  .how-it-works_link:nth-child(1) {
    margin-bottom: 20px;
  }

  .feedback_btn {
    width: 300px;
  }

  .feedback::before {
    position: absolute;
    left: 3%;
    top: 45%;
    content: "";
    width: 150px;
    height: 150px;
    background: url(icons/arrow-feedback-mobile.svg) no-repeat;
    background-position: center;
    background-color: transparent;
  }

  .feedback_header::after {
    left: -14%;
  }

  .app {
    min-height: 750px;
  }

  .app_item-img-3 {
    left: 80%;
  }

  .app_item-img-2 {
   top: -15%  
  }

  .app_item-img-1 {
    top: -15%  
  }
}

@media (max-width: 800px) {
  .banner {
    display: none;
  }

  .advantage {
    min-height: 1000px;
    background-color: transparent;
  }

  .advantage-search_header {
    color: var(--black);
  }

  .advantage_box-search {
    position: static;

    left: 0;
    transform: translateX( 0%);

  }

  .advantage_box-why {
    display: none;
  }

  .advantage::before {
    display: none
  }

  .how-it-works {
    display: none;
  }

  .reviews {
    display: none;

  }

  .feedback {
    display: none
  }

  .app {
    display: none;
  }

  .footer {
    display: none;
  }

  .footer-2 {
    display: none;
  }

  .footer-mobile_menu {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey);
    padding: 15px;

  }

  .footer-mobile_box a {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .footer-mobile_favorites-img {
    display: block;
    padding-bottom: 10px;
  }
}
