<div class="block2">
    <div class="poisk content">
        <h2>Почему no problem?</h2>
        <div class="grid">
            <div class="dom">
                <div class="image ones">
                    <img src="{{ asset('assets/img/free-icon-checkeds.svg') }}" alt="">
                </div>
                <h4>Верификация каждого пользователя</h4>
                <p>У нас нет ботов - каждый человек реален. Защита данных. Мы не передаём Ваши данные третьим лицам без Вашего согласия</p>
            </div>
            <div class="dom">
                <div class="image two">
                    <img src="{{ asset('assets/img/arm.svg') }}" alt="">
                </div>
                <h4>Помощь в проведении собеседований</h4>
                <p>У нас есть все необходимые материалы, для того, чтобы Вы успешно провели собеседование и могли выбрать максимально подходящий вариант</p>
            </div>

            <div class="dom">
                <div class="image three">
                    <img src="{{ asset('assets/img/premium-icon.svg') }}" alt="">
                </div>
                <h4>Ценность гораздо выше цены</h4>
                <p>Убедитесь в этом уже сегодня!Стоимость доступа к платформе всего от 75 р/сутки. Но чем больше времени Вам понадобится для поиска, тем ниже стоимость доступа!</p>
            </div>

            <div class="dom">
                <div class="image four">
                    <img src="{{ asset('assets/img/girl.svg') }}" alt="">
                </div>
                <h4>Услуга “персональный менеджер”</h4>
                <p>Он внимательно выслушает все Ваши пожелания и подберет для Вас несколько подходящих кандидатов</p>
            </div>

        </div>
    </div>
</div>