<div class="advantage_box-search">
    <div class="inner">
        <h3 class="advantage-search_header">Поиск работника или работы</h3>
        <div class="advantage-search_btn-box">
            <button type="button" class="advantage-search_btn">
                <img class="advantage-search_btn-img" src="{{ asset('assets/css/icons/nurse.svg') }}" width="180" height="180" alt="check"/>
                <span class="advantage-search_btn-text">Сиделка</span>
            </button>
            <button type="button" class="advantage-search_btn">
                <img class="advantage-search_btn-img" src="{{ asset('assets/css/icons/nanny.svg') }}" width="180" height="180" alt="check"/>
                <span class="advantage-search_btn-text">Няня</span>
            </button>
            <button type="button" class="advantage-search_btn">
                <img class="advantage-search_btn-img" src="{{ asset('assets/css/icons/spray.svg') }}" width="180" height="180" alt="check"/>
                <span class="advantage-search_btn-text">Домработница</span>
            </button>
            <button type="button" class="advantage-search_btn">
                <img class="advantage-search_btn-img" src="{{ asset('assets/css/icons/husband-for-an-hour.svg') }}" width="180" height="180" alt="check"/>
                <span class="advantage-search_btn-text">Муж на час</span>
            </button>
        </div>
    </div>
</div>