<h2 class="visually-hidden">Почему no problem?</h2>
<div class="advantage_box-why">
    <div class="inner">
        <h3 class="advantage-why_header">Почему no problem?</h3>
        <div class="advantage-why_list">
            <div class="advantage-why_item">
                <div class="advantage-why_img-box">
                    <img src="{{ asset('assets/css/icons/check.svg') }}" width="81" height="70" alt="check"/>
                </div>
                <p class="advantage-why_text">Верификация каждого пользователя</p>
                <p class="advantage-why_text-2">У нас нет ботов - каждый человек реален. Защита данных. Мы не передаём Ваши данные третьим лицам без Вашего согласия</p>
            </div>

            <div class="advantage-why_item">
                <div class="advantage-why_img-box">
                    <img src="{{ asset('assets/css/icons/handshake.svg') }}" width="106" height="63" alt="check"/>
                </div>
                <p class="advantage-why_text">Помощь в проведении собеседований</p>
                <p class="advantage-why_text-2">У нас есть все необходимые материалы, для того, чтобы Вы успешно провели собеседование и могли выбрать максимально подходящий вариант</p>
            </div>

            <div class="advantage-why_item">
                <div class="advantage-why_img-box">
                    <img src="{{ asset('assets/css/icons/coins.svg') }}" width="70" height="79" alt="check"/>
                </div>
                <p class="advantage-why_text">Ценность гораздо выше цены</p>
                <p class="advantage-why_text-2">Убедитесь в этом уже сегодня!Стоимость доступа к платформе всего от 75 р/сутки. Но чем больше времени Вам понадобится для поиска, тем ниже стоимость доступа!</p>
            </div>

            <div class="advantage-why_item">
                <div class="advantage-why_img-box">
                    <img src="{{ asset('assets/css/icons/female.svg') }}" width="76" height="96" alt="check"/>
                </div>
                <p class="advantage-why_text">Услуга “персональный менеджер”</p>
                <p class="advantage-why_text-2">Он внимательно выслушает все Ваши пожелания и подберет для Вас несколько подходящих кандидатов</p>
            </div>
        </div>
    </div>
</div>