<div class="tit_one_vacan img nona">
    <img src="assets/img/ant-design_calendar-outlined.svg" class="lazyLoad isLoaded">
    <h4>График работы</h4>
</div>
<div class="nona">
    <div class="grafikvisual">
        <div class="strokavremya">
            <div class="onestokavremya">
            </div>
            <div class="onestokavremya">
                12:00
            </div>
            <div  class="onestokavremya">
                13:00
            </div>
            <div class="onestokavremya">
                14:00
            </div>
            <div class="onestokavremya">
                15:00
            </div>
            <div class="onestokavremya">
                16:00
            </div>
            <div class="onestokavremya">
                17:00
            </div>
            <div class="onestokavremya">
                18:00
            </div>
            <div class="onestokavremya">
                19:00
            </div>
            <div class="onestokavremya">
                20:00
            </div>
            <div  class="onestokavremya">
                21:00
            </div>
            <div class="onestokavremya">
                22:00
            </div>
            <div class="onestokavremya">
                23:00
            </div>
        </div>
        <div class="nedeles">
            <div class="strokavremya">
                <div  class="onestokavremya">Пн</div>
                <div class="onestokavremya activechas">12:00</div>
                <div class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas">16:00</div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>

            </div>
        </div>
        <div class="nedeles">
            <div class="strokavremya">
                <div class="onestokavremya">Вт</div>
                <div  class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya activechas">14:00</div>
                <div class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas"></div>
                <div  class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas">18:00</div>
                <div  class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div  class="onestokavremya"></div>
                <div class="onestokavremya"></div>
            </div>
        </div>
        <div  class="nedeles">
            <div class="strokavremya">
                <div class="onestokavremya">Ср</div>
                <div class="onestokavremya"></div>
                <div  class="onestokavremya activechas">13:00</div>
                <div class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas">15:00</div>
                <div class="onestokavremya"></div>
                <div  class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div  class="onestokavremya"></div>
                <div  class="onestokavremya"></div>
                <div  class="onestokavremya"></div>
                <div  class="onestokavremya"></div>
            </div>
        </div>
        <div  class="nedeles">
            <div  class="strokavremya">
                <div class="onestokavremya">Чт</div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya activechas">13:00</div>
                <div class="onestokavremya activechas">14:00</div>
                <div class="onestokavremya activechas">15:00</div>
                <div class="onestokavremya activechas">16:00</div>
                <div class="onestokavremya activechas">17:00</div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>

            </div>
        </div>
        <div class="nedeles">
            <div class="strokavremya">
                <div class="onestokavremya">Пт</div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya activechas">19:00</div>
                <div class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas"></div>
                <div class="onestokavremya activechas">23:00</div>
            </div>
        </div>
        <div class="nedeles">
            <div class="strokavremya">
                <div class="onestokavremya color_day">Сб</div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>

            </div>
        </div>
        <div  class="nedeles">
            <div class="strokavremya">
                <div class="onestokavremya color_day">Вс</div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
                <div class="onestokavremya"></div>
            </div>
        </div>
    </div>
</div>