{% extends 'base.html.twig' %}
{% block title %}Articles Vue{% endblock %}
{% block body %}
    <div id="articles">
        <app />
    </div>


<!--    {% for article in articles %}
        <h3>{{ article.name }}</h3>
        <div>
            {{ article.bodytext|raw }}
        </div>
    {% endfor %}-->
{% endblock %}
