<section class="benefit container">
    <h1 class="benefit_header"></h1>
    <div class="benefit_box">
        <h2 class="benefit_box-header">Почему выгоднее работать с нами?</h2>
        <ul class="benefit_list">
            <li class="benefit_item">
                <span class="benefit_item-number">01</span>
                <p class="benefit_item-text">Нам важно, чтобы ваш помощник выполнял свою работу хорошо,и вы были довольны, поэтому предоставляем возможность каждому помощнику пройти обучение на нашей платформе и повысить свою квалификацию</p>
            </li>
            <li class="benefit_item">
                <span class="benefit_item-number">02</span>
                <p class="benefit_item-text">Мы проверяем паспортные данные сотрудников, при необходимости делаем дополнительные проверки по различным базам</p>
            </li>
            <li class="benefit_item">
                <span class="benefit_item-number">03</span>
                <p class="benefit_item-text">Стоимость доступа к платформе ниже, чем у конкурентов</p>
            </li>
            <li class="benefit_item">
                <span class="benefit_item-number">04</span>
                <p class="benefit_item-text">У нас есть реальные отзывы</p>
            </li>
        </ul>
    </div>
</section>