<section class="benefit container">
    <h1 class="benefit_header"></h1>
    <div class="benefit_box">
        <h2 class="benefit_box-header">Почему выгоднее работать с нами?</h2>
        <h3>Работодатель</h3>
        <ul class="benefit_list">
            <li class="benefit_item">
                <span class="benefit_item-number">01</span>
                <p class="benefit_item-text">Качество работы на высоте, а вы довольны: грамотная система рейтингов позволяет развиваться, посвящая себя любимому делу</p>
            </li>
            <li class="benefit_item">
                <span class="benefit_item-number">02</span>
                <p class="benefit_item-text">Мы проводим оценку компетенций и благонадёжности помощников по голосу</p>
            </li>
            <li class="benefit_item">
                <span class="benefit_item-number">03</span>
                <p class="benefit_item-text">Стоимость доступа к платформе ниже, чем у конкурентов</p>
            </li>
            <li class="benefit_item">
                <span class="benefit_item-number">04</span>
                <p class="benefit_item-text">Имеем реальные отзывы: живые люди-живые мнения</p>
            </li>
        </ul>
    </div>
</section>