<div class="flex-parent">
    <div class="flex-child">
        <div class="but_creating_form input-select-multiple">
            <label> <p class="required">Гражданство:</p>
                {{ form_widget(form.citizen) }}
            </label>
        </div>
    </div>
    <div class="flex-child">
        <div class="but_creating_form input-select-multiple">
            <label> <p class="required">Доп информация:</p>
                {{ form_widget(form.additional) }}
            </label>
        </div>
    </div>
</div>