<div class="flex-parent">
    <div class="flex-child">
        <div class="abouts_creating_form">
            <p>Когда нужно приступить к работе</p>
            <div class="date_creating_form">
                <input type="date" id="worksheet_form_startDate" name="worksheet_form[startDate]" class="text_input date"><br />
                <div class="but_creating_form">
                    <label for="checkbox" class="work_start_now">Незамедлительно
                        {{ form_widget(form.startNow) }}
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-child">
        <div class="abouts_creating_form">
            <div class="date_creating_form">
                <div class="abouts_creating_form">
                    <p class="required">Опыт работы</p>
                    <div class="work_experience_creating_form">
                        {{ form_row(form.experience) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>