<div class="content">
    <div class="tit_account">
        <img src="{{ asset('assets/img/blockicon.svg') }}" alt="">
        <h4>{{ 'My announcements'|trans }}</h4>
    </div>
{% if jobs is defined %}
    <div class="owl-carousel owl-theme" id="slider_one">
        {% for job in jobs %}
            <slide>
                <div class="box_account">
                    {% include 'partials/job/slider/_job_item.html.twig' %}
                </div>
            </slide>
        {% endfor %}
    </div>
{% else %}
    <p>У вас пока нет объявлений</p>
{% endif %}
</div>