<!-- slider2 -->
<div class="content selected_emp">
    <div class="tit_account">
        <img src="assets/img/like.svg">
        <h4>Избранные работники</h4>
    </div>

    <div class="owl-carousel owl-theme " id="slider_two">
        <!--Слайд 1-->
        <slide>
            <div class="box_account">
                <div class="box_account_content">

                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>
        <!--slide 2-->
        <slide>
            <div class="box_account">
                <div class="box_account_content">

                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>
        <!-- slide 3 -->
        <slide>
            <div class="box_account">
                <div class="box_account_content">
                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>

        <!-- slide 4 -->

        <slide>
            <div class="box_account">
                <div class="box_account_content">
                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>

        <!-- slide5 -->
        <slide>
            <div class="box_account">
                <div class="box_account_content">

                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>
        <!-- slide6 -->
        <slide>
            <div class="box_account">
                <div class="box_account_content">

                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>

        <!-- slide7 -->

        <slide>
            <div class="box_account">
                <div class="box_account_content">
                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>

        <!-- slide8 -->
        <slide>
            <div class="box_account">
                <div class="box_account_content">

                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>

        <!-- slide 9 -->
        <slide>
            <div class="box_account">
                <div class="box_account_content">
                    <div class="box_vacancies_favorite">
                        <div class="box_logo_name">
                            <div class="box_logo">
                                <img src="assets/img/ava_person_account.png">
                            </div>
                            <div class="name_vacancies">
                                <p class="name_vacancies_text">Няня</p>
                                <p>Екатерина Петрова</p>
                            </div>
                        </div>
                        <div class="like_favorite">
                            <img src="assets/img/like_favorite.png">
                        </div>
                    </div>
                    <div class="person_information_city">
                        <p>Возраст: <i class="data_box_account">45 лет</i></p>
                        <p>Опыт работы: <i class="data_box_account">4 года</i></p>
                        <p>Образование: <i class="data_box_account">профильное</i></p>
                    </div>
                    <div class="person_description">
                        <p>Работала няней у знакомой, забирала младшего <br>с садика. Старшего забирала и отводила <br>на тренировки, дополнительные занятия...</p>
                    </div>
                </div>
            </div>
        </slide>
    </div>
</div>